# Maven target
target/

# Angular dist
frontend/dist/

# Angular node_modules
frontend/node_modules/

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# macOS files
.DS_Store

# Log files
*.log